<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jetbrains.kotlin.ui.editor.textHover">
      <hover
            class="org.jetbrains.kotlin.hover.ExpressionTypeHover"
            name="Kotlin Expression Type Hover">
      </hover>
   </extension>

</plugin>
